::placeholder {
    color: #007d80;
    opacity: 1;
}

.form-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-inner {
        background-color: rgba(255,255,255,1);
        width: 600px;
        padding: 30px;
        border-radius: 5px;
        color: #007d80;

        h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 35px;

            span {
                cursor: pointer;
                font-size: 2.6rem;
            }
        }

        .btn { 
            background-color: #007d80;
            color: white!important;
            margin-top: 55px;
            margin-bottom: 0px!important;
        }

        .form-control {
            width: 100%;
            border: none;
            padding: 10px 5px;
            font: inherit;
            margin-bottom: 15px;
            border-bottom: 1px solid #007d80;
            transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
            color: #007d80;

            &:focus {
                outline: none;
            }
        }

        select {
            padding: 10px 5px!important;
        }
    }
}